@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Combo&family=Nabla&display=swap');

h1{
    font-family: 'Nabla', cursive;
   
    
}
.mae{
    padding: 300px 50px;
    position: absolute;


}
.img1{
    border-radius: 50%;
    padding: 30% 40%;
    position: absolute;

}

.p1{
    font-family: 'Combo', cursive;
  

}